.leaflet-container {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

html, body {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.mapContainer {
  flex: 1 1 auto;
  z-index: 0;
}

.locationBar {
  display: flex;
  align-items: center;
  height: 40px;
}

.locationBar span {
  padding-right: .5em;
}

.cocora-login {
  position: absolute;
  right: 0;
  top: 0;
}
